@model RoboDex__Capstone_.Models.RoboDexer

@{
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<html>
<head>
    <title>Title of the document</title>
</head>
<a asp-controller="RoboDexer" asp-action="Inventory" asp-route-id="@Model.InventoryId">Inventory</a>


</html>
<div>
    <h4>RoboDexer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InboxId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InboxId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IMGUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IMGUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Inventory" asp-route-id="@Model.InventoryId">Inventory</a> |
    <a asp-action="Edit" asp-route-id="@Model.RoboDexerId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
