@model List<RoboDex__Capstone_.Models.RoboDexer>

@{
    ViewData["Title"] = "FollowedRoboDexers";
}

<h1>RoboDexers I Follow</h1>

<div>
    
    <hr />
    <dl class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].UserName)
                    </th>
                    
                    <th>
                        @Html.DisplayNameFor(model => model[0].ContactInfo)
                    </th>
                    

                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model[i].UserName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model[i].ContactInfo)
                    </td>


                    <td>
                        <a asp-action="SellerProfileInfo" asp-route-id="@Model[i].RoboDexerId">Profile</a>
                    </td>

                </tr>
                }
</div>

