@model IEnumerable<RoboDex__Capstone_.Models.ViewModels.ItemTagsLocation>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>

<form asp-controller="RoboDexer" asp-action="Search">

    <p>
        <div class="form-inline">
            <input class="form-control mr-sm-2" type="text" style=" width: 50%;" name="SearchTerm">
            <input class="btn btn-primary my-sm-0" type="submit" value="Search" />
        </div>
    </p>
</form>
<a asp-controller="RoboDexer" asp-action="AddItem" >Add Item</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.IMGUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tags.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationPlace.MainLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationPlace.SecondaryLocation)
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.IMGUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationPlace.MainLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationPlace.SecondaryLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Items.ItemId">Edit</a> |
                <a asp-action="DeleteItem" asp-route-id="@item.Items.ItemId">Delete</a> |

            </td>


        </tr>
        }
    </tbody>
</table>
    
