@model IEnumerable<RoboDex__Capstone_.Models.Items>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>
<a asp-controller="RoboDexer" asp-action="AddItem" >Add Item</a>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IMGUrl)
        </dt>
        
        
        @*<dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoboDexerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoboDexerId)
        </dd>*@
    </dl>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |*@
    <a asp-action="Index">Back to List</a>
</div>
