@model IEnumerable<RoboDex__Capstone_.Models.ViewModels.ItemTagsLocation>

@{
    ViewData["Title"] = "Inventory";
}

<h1>Inventory</h1>
<a asp-controller="RoboDexer" asp-action="AddItem" >Add Item</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.IMGUrl)
            </th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.IMGUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Items.ItemId">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Items.ItemId">Delete</a> |
              
            </td>


        </tr>
        }
    </tbody>
</table>
    
