@model IEnumerable<RoboDex__Capstone_.Models.ViewModels.ItemsTagsInfo>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-controller="Recipes" asp-action="Search" method="get">

<p>
    <div class="form-inline">
        <input class="form-control mr-sm-2" type="text" style=" width: 50%;" name="SearchString">
        <input class="btn btn-primary my-sm-0" type="submit" value="Search" />
    </div>
</p>
</form>

<table class="table container">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.Name)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.Items.IMGUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="container">
        @foreach (var item in Model)
        {
            @if(item.Items == null)
            {
                continue;
            }
        <tr>
            <td>
                <a @*asp-action="Details" asp-route-id="@item.Items.ItemId"*@>
                    @Html.DisplayFor(modelItem => item.Items.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.IMGUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Items.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>

            <td>


                <a @*asp-action="ItemDetails" asp-route-id="@item.Items.ItemId"*@>Details</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.ItemId">Edit</a> |
        <a asp-action="Index">Back to List</a>*@
</div>
