@model IEnumerable<RoboDex__Capstone_.Models.ViewModels.ItemsTagsInfo>

@{
    ViewData["Title"] = "Search";
}

<h1>Search Results</h1>



<table class="table container">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item.IMGUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="container">
        @foreach (var item in Model)
        {
            @if(item.Item == null)
            {
                continue;
            }
        <tr>
            <td>
                <div class="row">
                    <div class="col-4">
                        <img src="@Html.DisplayFor(modelItem => item.Item.IMGUrl)" style="height: 100px; width: 100px;" />
                    </div>

                </div>
            </td>   
            <td>
                @Html.DisplayFor(modelItem => item.Item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagName)
            </td>

            <td>

                | <a asp-action="EditItem" asp-route-id="@item.Item.ItemId">Edit</a> |
                <a asp-action="ItemDetails" asp-route-id="@item.Item.ItemId">Details</a> |
            </td>
        </tr>
        }
    </tbody>
</table>

