@model RoboDex__Capstone_.Models.RoboDexer

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    <div class="row">
        <div class="col-4">
            <img src="@Html.ViewData.Model.IMGUrl" style="height: 350px; width: 350px;" />
        </div>

    </div>
    <dl class="row">
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.InboxId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.InboxId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.InventoryId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.InventoryId)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.ShoppingCartId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.ShoppingCartId)
            </dd>*@

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AboutMe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AboutMe)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
        
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.IdentityUser)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.IdentityUser.Id)
            </dd>*@
    </dl>
</div>
<div>

    <a asp-controller="RoboDexer" asp-action="Inventory" asp-route-id="@Model.InventoryId">Go To Seller Inventory</a>
</div>
