@model List<RoboDex__Capstone_.Models.ViewModels.ItemsTagsInfo>

@{
    ViewData["Title"] = "SellerInventory";
}

<h1>SellerInventory</h1>

<a asp-action="Details" asp-route-id="@ViewData.Model[0].Item.ItemId">Go To Seller's Profile</a>
<a asp-action="Follow" asp-route-id="@ViewData.Model[0].Item.ItemId">Follow This Seller</a>
<div>
    <h4>Items</h4>
    <hr />
    <dl class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Item.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Item.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].Item.IMGUrl)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model[0].TagName)
                    </th>

                </tr>
            </thead>

            <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(model => model[i].Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model[i].Item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model[i].Item.IMGUrl)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model[i].TagName)
                    </td>
                    <td>
                        <a asp-action="ItemDetails" asp-route-id="@ViewData.Model[i].Item.ItemId">Details</a> 
                    </td>

                </tr>
            }
                @*@foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.Price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Item.IMGUrl)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TagName)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Item.ItemId">Edit</a> |
                            <a asp-action="DeleteItem" asp-route-id="@item.Item.ItemId">Delete</a> |
                            <a asp-action="ItemDetails" asp-route-id="@item.Item.ItemId">Details</a> |

                        </td>


                    </tr>


                }*@
                </tbody>

            </table>

    </dl>
</div>
<div>
    <a asp-action="Details" asp-route-id="">Profile</a>
    <a asp-action="Index">Back to List</a>
</div>
